#div1{ 
    height: 300%;
    width: 150%;
    } 
    #div2{ 
        height: 300%;
        width: 150%;
        margin-top: 200px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 50px;
    }
    #image{ 
        height: 60%;
        width: 60%;
        margin-left: 55px;  
    } 
    #nom{ 
        margin-left: 60px;  
    } 
    #suivi{ 
        margin-left: 55px;  
    } 
    #date{ 
        margin-left: 55px;  
    } 
    #rapport{ 
        margin-left: 70px;  
    } 
    #detection{ 
        margin-left: 80px;  
    } 
    #carte{ 
        margin-left: 50px;  
        margin-top: 5px;   
    } 
    #carte1{ 
        margin-top: 5px;   
    } 